*{
	padding: 0;
	margin:0;
	font-family: sans-serif;  
}
.logo{
	text-align: center;
	padding: 40px;
	background-image:url(moto.jpg);
	background-position: center;
    background-size: cover;
	
}
.logo img{
	margin-bottom: 20px;
	background: #000;
	width: 20%;
	height: 20%;
}
.header a{
	display: inline-block;
	justify-content: space-between;
	text-decoration: none;
	font-size: 25px;
	font-weight:100%;
	color: magenta;
	padding: 20px;

}
.header a:hover{
	color: #fff;
	border-bottom: 5px solid gold;
	padding: 0;
	
}
.front{
	padding: 20px;
}
.front h1{
	font-size: 40px;
	color: #fff435;
	padding: 20px;
}
.front p{
	padding: 10px;
	color: #fff;
}
.barnner{
	padding: 10%;
	background: #ffffff56;
	
}
.image-bner img{
	border-radius: 10px;
	width: 100%;
	margin-right: 20px;

}
.image-bner h2{
	padding: 20px;
	font-size: 30px;
	text-align: center;
}
.image-bner p{
	text-align: center;
	padding: 20px;
	color: magenta;
}
.next{
	align-items: center;
	padding: 90px;
	background: #5674;
}
.pic{
	padding: 10px;
}
.pic img{
	width: 100%;
	padding: 20px;
}
.pic p{
	text-align: center;
}
.pic a{
	text-decoration: none;
	color: magenta;
	padding: 5px;
	
}
.pic button{
     padding: 5px;
     margin: 10px auto 10px;
     transform: 0.5s;
}
.pic button:hover{
     background: #000;
     border:1px solid magenta; 
     border-radius: 5px;
}
.external{
	text-align: center;
	font-size: 20px;
}
.external a{
	text-decoration: none;
}
.external a:hover{
	color: maroon;
}

/*------- C0DES FOR A FOOTER -------*/

.footer{
	text-align: center;
	padding: 10px;
	background: #000;
	color: magenta;
    border-top: 2px solid magenta;
}
.footer h4{
	font-size: 25px;
	padding: 10px;
}
.fill-in{
	text-align: center;
}
.head{
	padding: 50px;
	background:#000;
}
.head h1{
	font-size: 20px;
	color: #fff;
	cursor:pointer; 
}
.fill-in h2{
	padding: 30px;
}
.fill-in p{
	padding: 20px;
}
.text-box{
	background: #bbb3;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 10px;
	padding-top: 20px;
}
.text-box input{
	padding: 10px;
	background: #111;
	text-align: center;
	color: magenta;
	border-radius: 10px;
}

}
.preview h2, h3{
	margin-top: 20px;
}
.preview h3{
	margin-top: 20px;
}
.preview label{
	padding-bottom: 10px;
	padding: 10px;
    color: blue;
    font-size: 20px;
}
.preview input{
	color: red;
}

.choice, .choice2, .choice3{
	padding: 10px;
	margin-left: 10px;
	background: magenta;
	border-radius: 5px;
	transform: 0.5s;
}
.choice:hover, .choice2:hover, .choice3:hover{
	border: 2px solid gold;
	border-radius: 5px;
	cursor: pointer;
}
